*, *::before, *::after {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    }

body {
    display: block;
    justify-content: center;
    padding-bottom: 100px;
}

.buttonEingabe {
    
    background-color: #04AA6D;
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 8px 18px;
    transition-duration: 0.08s;
    border-radius: 3px;
    outline: none;
    border: 1px solid #008a57f6;
    margin-top: 17px;
    top: 50%;
}

.buttonEingabe:hover, .buttonD:hover, #neuerEintrag:hover {
    background-color: #008a57f6;
    cursor: pointer;
}

#ausgabe {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#eingabe1, #eingabe2 {
    font-size: 25px;
    margin-top: 10px;
    padding: 5px;
    margin: 0;
    width: 40%;
    border-style: solid;
    text-align:left;
}

#steuerButtonDiv {
    height: 80px;
    background-color: white;
    position: fixed;
    border: 3px solid green;
    bottom: 10px;
    width: 97%;
}

li {
    list-style-type: none;
    background-color: #37dda046;
    padding:5px;
    font-size: 23px;
    border: 1px solid black;
}

#changeForm{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.buttonD{
    background-color: #04AA6D;
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 8px 18px;
    transition-duration: 0.08s;
    border-radius: 3px;
    outline: none;
    margin-top:5px;
    margin-bottom:5px;
    margin-right: 10px;
    border: 1px solid #008a57f6;
}

#neuerEintrag {
    background-color: #04AA6D;
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 8px 18px;
    transition-duration: 0.08s;
    border-radius: 3px;
    outline: none;
    margin-top:10px;
    margin-bottom:10px;
    border: 1px solid #008a57f6;
    display: block;
    margin-top: 10px;
}

#neuerEintragDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#neuerEintragForm {
    margin-top: 15px;
}

.zweiteVokabel, .ersteVokabel {
    width: 40%;
    border: 1px solid black;
    overflow:hidden;
    font-size: 27px;
    padding: 5px;
}

.zweiteVokabel {
    margin-left: 40px;
    --main-color:black;
    color: var(--main-color);
    transition-duration: 0.1s;
}

.ersteVokabel {
    --main-color:black;
    color: var(--main-color);
    transition-duration: 0.1s;
}

.zweiteVokabel:hover, .ersteVokabel:hover{
    color: black;
    cursor:default;
}

